@charset "UTF-8";

h1 {
	text-align: center;
}

body {
	background-color: gainsboro;
	overflow: auto;
}

table, td, th {
	border: 1px solid black;
	padding: 5px;
}

table {
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.btn {
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	background-color: darkgrey;
	margin: 2px;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
	font-family: Times New-Roman;
	font-size: 18pt;
	color: white;
	cursor: pointer;
}

.btnbar {
	text-align: center;
}

input[type=text] {
	width: 35px;
	height: 35px;
	margin: 0 auto;
	padding: 0px;
	border: 0px;
}

.box {
	border: solid darkgrey 1px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.topBox {
	border: solid darkgrey 1px;
	border-top: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.bottomBox {
	border: solid darkgrey 1px;
	border-bottom: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.topLeftBox {
	border: solid darkgrey 1px;
	border-top: solid black 2px;
	border-left: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.topRightBox {
	border: solid darkgrey 1px;
	border-top: solid black 2px;
	border-right: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.bottomLeftBox {
	border: solid darkgrey 1px;
	border-bottom: solid black 2px;
	border-left: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.bottomRightBox {
	border: solid darkgrey 1px;
	border-bottom: solid black 2px;
	border-right: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.leftBox {
	border: solid darkgrey 1px;
	border-left: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.rightBox {
	border: solid darkgrey 1px;
	border-right: solid black 2px;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	float: left;
}

.puzzle {
	margin: 0 auto;
	width: 400px;
}

.form {
	display: inline;
}